
p{
	font-size: 13px;
}

footer{
	border-top: 1px solid #dfdfdf;
}

.infobanner {
    position: absolute;
    top: 20%;
    text-align: center;
    color: #fff;
}

.fotos{
	margin-top: 3%
}


.photo{
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 10px solid #ddd;
    border-radius: 20px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.imagen{
	border-radius: 10px 10px 0 0;
	width: 100%;
}

.boton{
	padding: 20px 0;
}

.img-logo {
    width: 24px;
}

.copy {
    padding-top: 15px;
    background-color: #f0f0f0;
    border-top: 1px solid #dfdfdf;
}

.pie{
	padding: 15px 0;
}


@media (max-width: 768px){

.infobanner {
    top: 20%;
}

}